# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Environment / secrets
appsettings.Development.json
*.db
*.sqlite
.env

# IDEs
.idea/
.vscode/

# Publish
*.publishsettings